#taxonomy-location-attributes .attribute-dropdown-button { float: right; }
#taxonomy-location-attributes .attribute-dropdown li { text-align: right; }
#taxonomy-location-attributes label { display: inline-block; max-width: 170px }
