.schematic-link img {
    border: solid black 1px;
    padding: 10px;
}

ul.uw-sidebar-menu.first-level {
    max-height: 330px;
    overflow-y: hidden;
    z-index: 100;
    position: relative;
}

ul.uw-sidebar-menu.first-level:hover {
    overflow-y: visible;
}

div.buildings ul {
    list-style: none;
    padding-left: initial;
    columns: 2; -webkit-columns: 2; -moz-columns: 2;
}
